aws_region     = "eu-west-2"
user_name      = "readest-to-obsidian-sync"
sqs_queue_arn  = "arn:aws:sqs:eu-west-2:123456789012:readest-to-obsidian-sync"
s3_bucket_arn  = "arn:aws:s3:::example-bucket"
s3_prefix      = "readest-to-obsidian/"

tags = {
  Application = "readest-to-obsidian-sync"
  ManagedBy   = "Terraform"
}
